.container {
  color: #fff;
  margin: 0 4rem;
}

.container header {
  padding: 0 4rem;
  display: flex;
  align-items: center;
  height: 35rem;
}

.container header .headerText h1 {
  font-size: 60px;
  font-weight: bold;
  margin-bottom: 1rem;
}
.container header .headerText h4 {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 1rem;
}
.container header .headerText p {
  font-size: 14px;
  font-weight: medium;
  max-width: 30rem;
}

/* purchase section */

.container .purchase {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.container .purchase__headerText p {
  font-size: 18px;
  margin-bottom: 1rem;
}

.container .purchase__quickLinks {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
  margin-top: 2rem;
}

.container .purchase__quickLinks .box {
  width: 100px;
  height: 100px;
  background-color: #c4c4c4;
  margin: 1rem;
}

/* how  it works  */

.container .howItWorks__section {
  display: flex;
  align-items: flex-start;
  min-height: 20rem;
  margin-top: 5rem;
  padding: 1rem 4rem;
}

.container .howItWorks__section .howItWork {
  display: flex;
  flex-direction: column;
  flex: 0.37;
}

.container .howItWorks__section .howItWork h2 {
  margin-bottom: 2rem;
}

.container .howItWorks__section .howItWork p {
  margin-bottom: 2rem;
}

.container .howItWorks__section .cardContainer {
  display: flex;
  flex-direction: row;
  flex: 0.63;
  padding-left: 2rem;
  flex-wrap: wrap;
}

.container .howItWorks__section .cardContainer .card {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex: 0.5;
  margin-bottom: 2rem;
}

.container .howItWorks__section .cardContainer .card .icon {
  display: grid;
  place-items: center;
  margin-right: 1rem;
  background-color: #23253a;
  padding: 0.8rem;
  border-radius: 50%;
  width: 60px;
  height: 60px;
}

.container .howItWorks__section .cardContainer .card .textContent {
  width: 14rem;
}

.container .howItWorks__section .cardContainer .card .textContent h3 {
  margin-bottom: 1rem;
}

/* about section */

.container .about__section {
  display: flex;
  align-items: flex-start;
  min-height: 20rem;
  margin-top: 5rem;
  padding: 1rem 4rem;
}

.container .about {
  display: flex;
  flex-direction: column;
  flex: 0.5;
}

.container .about__section .about h4 {
  font-size: 14px;
  margin-bottom: 1rem;
}

.container .about__section .about h2 {
  margin-bottom: 2rem;
}

.container .about__section .about p {
  margin-bottom: 2rem;
}
